.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8d7da;
    color: #721c24;
    font-size: 1.2em;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px;
}

.error p {
    margin: 0;
    font-size: 1.5em;
    color: #721c24;
    padding: 10px 0;
}

.error .error-icon {
    width: 3em;
    height: 3em;
    margin-bottom: 20px;
    color: #f5c6cb;
    animation: shake 0.5s ease infinite;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }
}

/* Media query para pantallas menores a 500px */
@media (max-width: 500px) {
    .error {
        font-size: 1em;
        padding: 10px;
    }

    .error p {
        font-size: 1.2em;
    }

    .error .error-icon {
        width: 2.5em;
        height: 2.5em;
    }
}